@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Lemon Days';
  font-weight: normal;
  font-style: normal;
  src: url('/Lemon-Days.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-weight: normal;
  font-style: normal;
  src: url('/Nunito-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-weight: 700;
  font-style: normal;
  src: url('/Nunito-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-weight: 800;
  font-style: normal;
  src: url('/Nunito-Black.ttf') format('truetype');
}

@keyframes toast-bounce-desktop {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes toast-bounce-mobile {
  0%,
  100% {
    transform: translateX(-50%) translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(-50%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
